@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

input .checkbox {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

body {
    display: flex;
    flex-direction: column;
    -webkit-font-smothing: antialiased;
    background-color: #E9E9E9;
    /* text-align: center; */
}

#content {
    display: grid;
    grid-template-rows: 6vh 88vh 6vh;
}

#content nav {
    position: relative;
    background-color: #4AA48E;
}

#content nav h1 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 36px;
}

main {
    width: 500px;
    margin: 0 auto;
    flex-grow: 1;
    margin-top: 71px;
}

#content main h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

#content main .inputText {
    width: 489px;
    height: 32px;
    padding-left: 10px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 16px;
    margin-top: 14px;
    border-radius: 5px;
    border: none;
}

#content main button {
    width: 114px;
    height: 22px;
    background: #248714;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    color: #FFF;
    transition: 400ms;
    cursor: pointer;
}

#content main button:hover {
    opacity: 0.8;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

#content main ul {
    margin-top: 44px;
}

footer {
    background-color: #4AA48E;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}